@import '../../assets/style/';

.page-template {
     padding-top: 5rem;
     margin     : 0 auto;
     background : white;
     width      : 500px;

     &-title {
          text-align    : center;
          padding-bottom: 2rem;

          h1 {
               font-size: 3rem;
          }
     }

     &-text {
          font-size     : 2rem;
          text-align    : center;
          padding-bottom: 1rem;
     }
}